* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sidebar {
    height: 100vh;
    width: 20vw;
    background-color: #1e1b4b;
    color: #eef2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.side-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 150px;
    height: 40px;
    color: white;
}

.icon {
    color: beige;
}

/* HEADER SECTION */

.header {
    display: grid;
    grid-template-rows: 80px 80px;
    max-height: 160px;
    background-color: yellow;
}

.first-section {
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search {
    display: flex;
    align-items: center;
}

.text {
    width: 500px;
    height: 20px;
}

.user-main {
    display: flex;
    align-items: center;
}

.second-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: 16px;
}

.btn {
    background-color: #008CBA;
    color: azure;
    font-size: 12px;
    border: none;
    border-radius: 16px;
    width: 70px;
    height: 35px;
}

/* Main section */

.left-part {
    margin-left: 16px;

}

.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 32px;
}

.text1, .text2, .text3 {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.project-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-left: 6px red solid;
    background-color: white;
    padding: 32px;
}

.section {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 16px;
}

/* Right part */

.right-part {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 16px;
}

.announcement {
    background-color: white;
    border-radius: 8px;
    padding: 32px;
}

.trending {
    background-color: white;
    border-radius: 8px;
}

.trending-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.a2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.a3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
}

